/* Estilos CSS */
body {
  /* Gradiente lineal de arriba a abajo */
  background: linear-gradient(to bottom, #030637, #3C0753);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #ffffff; /* Color de texto blanco para mejor contraste */
}

.container.mt-5 {
  /* Agrega un borde */
  border: 2px solid #000;
  /* Redondea las esquinas */
  border-radius: 5px;
  /* Agrega un fondo de color */
  background-color: #030637;
  /* Añade un poco de padding */
  padding: 10px;
  /* Sombra */
  box-shadow: 0 14px 15px rgba(1, 0, 0, 0.5);
  }
.logo {
  
  width: 100px; /* Ajusta el tamaño del logo según sea necesario */
  height: auto;
}
    
.title-container {
  background-color: #030637;
  padding: 15px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-container h1 {
  margin-left: 350px;
  color: #007bff; /* Color del texto del título */
  font-family: 'Arial', sans-serif;
}

/* Estilos para el contenedor de etiquetas y cuadros de entrada */


/* Estilos para etiquetas */
label {
  margin-left : 350px;
  color: #ece4e4;
  width: 300px; /* Ancho fijo para las etiquetas */
  font-size: 25px;
  font-weight: bold;
  text-shadow: 
      -1px -1px 0 black,  
      1px -1px 0 black,
      -1px  1px 0 black,
       1px  1px 0 black;
}



/* Estilos para cuadros de entrada */
input[type=text] {
  flex: 1; /* Permitimos que el cuadro de entrada se expanda */
  color: #0e0d0d;
  padding-left: 5px;
  width: 250px; /* Ancho fijo para los cuadros de entrada */
  height: 30px; /* Altura fija para los cuadros de entrada */
  border: none;
  background-color: rgba(255, 255, 255, 0.35); 
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.centered-container {
  text-align: center; /* Centra horizontalmente los elementos dentro del contenedor */
  margin-top: 20px; /* Margen superior para separar los elementos */
}

input[type=submit] {
  margin: 20px auto 0; /* 20px de margen superior y automático horizontalmente */
  width: 170px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0e75c5), to(#055a9d));
  background-image: -moz-linear-gradient(top left 90deg, #0e75c5 0%, #055a9d 100%);
  background-image: linear-gradient(top left 90deg, #0e75c5 0%, #055a9d 100%);
  border-radius: 30px;
  border: 1px solid #0e75c5;
  box-shadow: 0 1px 2px rgba(7, 124, 219, 0.3), inset 0 1px 0 rgba(255, 255, 255, .5);
  cursor: pointer;
}

.btn-primary {
  display: inline-block;
  margin: 20px auto 0; /* 20px de margen superior y automático horizontalmente */
  padding: 5px 15px; /* Ajusta el padding para que se asemeje al tamaño del botón */
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center; /* Alinea el texto al centro */
  text-decoration: none; /* Elimina el subrayado del enlace */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0e75c5), to(#055a9d));
  background-image: -moz-linear-gradient(top left 90deg, #0e75c5 0%, #055a9d 100%);
  background-image: linear-gradient(top left 90deg, #0e75c5 0%, #055a9d 100%);
  border-radius: 30px;
  border: 1px solid #0e75c5;
  box-shadow: 0 1px 2px rgba(7, 124, 219, 0.3), inset 0 1px 0 rgba(255, 255, 255, .5);
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #055a9d; /* Cambia el color de fondo al pasar el mouse */
}